@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E2E8DD;
    margin: 0;
    padding: 0;
}

#top_bar {
    background-color: #70C1B3;
    height: 45px;
    padding: 2%;
    padding-bottom: 3%;
    border-bottom: 3px solid #FF1654;
}

#top_bar img {
    width: 200px;
    height: 90px;
    margin-top: -40px;
    margin-left: -25px;
}

#map {
    height: 460px;
    width: 99%;
    border: 1px solid #FF1654;
    padding: 1%;
}

#par {
    height: 30px;
    fill: red;
    color: red;
    font-size: 20px;
    padding-left: 1%;
}

input[type=text] {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}

#wordbubble {
    margin: 0 auto;
}

#positives,
#negatives {
    /* border-radius: 40% 40% 40% 40%; */
    transition: 0.3s;
    max-width: 100%;
    margin: 0 auto;
}

#negatives {
    background-color: rgb(138, 208, 248);
}

#positives {
    background-color: rgb(250, 163, 104);
}

.btn {
    width: 100%;
    background-color: #FF1654;
}
.btn:hover {
    background-color: #ff4073;
}
#biz_info {
    width: 100%;
    background-color: #B2DBBF;
}
hr {
    background-color: #FF1654;
}

#my_dataviz, #sentiment-graph-box {
    background-color: #b8dbfd;
}